
@font-face{
	font-family: "letra1";
	src:url('../fonts/letra1.ttf');
}

@font-face{
	font-family: "letra2";
	src:url('../fonts/letra2.ttf');
}

@font-face{
	font-family: "letra3";
	src:url('../fonts/letra3.ttf');
}

h1{
	font-family: "letra1",arial;
	font-size: 42px;
}

h2{
	font-family: "letra2",arial;
	font-size: 54px;
}

h3{
	font-family: "letra3",arial;
	font-size: 33px;
}
body {
	background:#13F902; 
}
 
 .p1{
 	font-family: 'Indie Flower',cursive;
 }